.tx-wrapper {
  position: relative;
  padding-top: 20px;
  text-align: left;
}
.tx-wrapper.tx-focused div:after {
  background-color: #ff115f;
}
.tx-wrapper.tx-focused .tx-above {
  color: #ff115f;
}
.tx-wrapper.tx-disabled {
  opacity: .4;
}
.tx-wrapper div:after {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
  content: "";
  transform: translateY(50%) scaleY(1);
  transform-origin: center bottom;
  background-color: #000;
}
.tx-wrapper .tx-input,
.tx-wrapper .tx-label {
  font-size: 16px;
  line-height: 20px;
}
.tx-wrapper .tx-input {
  width: 100%;
  margin-bottom: 4px;
  border: none;
  outline: none;
  background-color: transparent;
}
.tx-wrapper .tx-input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
.tx-wrapper .tx-input:-moz-placeholder {
  font-size: 14px;
  /* FF 4-18 */
  font-weight: 300;
  line-height: 18px;
}
.tx-wrapper .tx-input::-moz-placeholder {
  font-size: 14px;
  /* FF 19+ */
  font-weight: 300;
  line-height: 18px;
}
.tx-wrapper .tx-input:-ms-input-placeholder {
  font-size: 14px;
  /* IE 10+ */
  font-weight: 300;
  line-height: 18px;
}
.tx-wrapper .tx-input:-webkit-autofill {
  -webkit-text-fill-color: #212125;
}
.tx-wrapper .tx-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #212125;
}
.tx-wrapper .tx-input:disabled {
  background-color: transparent;
}
.tx-wrapper .tx-input:required + .tx-label:after {
  content: " *";
}
.tx-wrapper .tx-label {
  font-weight: normal;
  position: absolute;
  left: 0;
  display: inline-block;
  transition: transform 250ms;
}
.tx-wrapper .tx-label.tx-above {
  transition: transform 250ms;
  transform: translateY(-100%) scale(.875, .875);
  transform-origin: top left;
}
.tx-wrapper .tx-errortext {
  font-size: 12px;
  line-height: 15px;
  visibility: hidden;
  min-height: 15px;
  color: #d7001a;
}
.tx-wrapper .tx-errortext.tx-errortext-visible {
  visibility: visible;
}
.tx-wrapper-white div:after {
  background-color: #9b9b9b;
}
.tx-wrapper-white .tx-label,
.tx-wrapper-white .tx-input {
  color: #fff;
}
.tx-wrapper-white .tx-input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
}
.tx-wrapper-white .tx-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
}
.tx-wrapper-textarea div {
  padding: 10px 10px 5px;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
}
.tx-wrapper-textarea div:after {
  display: none;
}
.tx-wrapper-textarea textarea {
  height: 60px;
  margin-top: 20px;
  padding: 0;
  resize: none;
}
.tx-wrapper-textarea textarea.tx-textarea-large {
  height: 100px;
}
.tx-wrapper-textarea .tx-label {
  left: 10px;
}
.tx-wrapper-textarea .tx-label.tx-above {
  transform: scale(.875, .875);
}

